<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a
            href="{{ box.logo_href | default('#') }}"
            class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
        >
            {% set logo_height = box.logo_height | default(30) %}
            <img
                class="me-2"
                src="{{ box.logo.thumb(auto, logo_height) }}"
                height="{{ logo_height }}"
                alt=""
            >
        </a>

        {% if box.links | length %}
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                {% for link in box.links %}
                    <li class="nav-item">
                        <a
                            href="{{ link.link_href }}"
                            class="nav-link px-2"
                        >{{ link.link_text }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="col-md-3 text-end">
            {% if box.secondary_button_text %}
                <a href="{{ box.secondary_button_href }}" class="btn btn-outline-primary me-2">
                    {{ box.secondary_button_text }}
                </a>
            {% endif %}
            {% if box.primary_button_text %}
                <a href="{{ box.primary_button_href }}" class="btn btn-primary">
                    {{ box.primary_button_text }}
                </a>
            {% endif %}
        </div>
    </header>
</div>
