<div class="container px-4 py-5">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for feature in box.features|default([{}]) %}
            {% set image_width = feature.image_width | default(800) %}
            <div class="col">
                <div
                    class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg bg-image"
                    style="
                        background-image: url('{{ ( feature.image | media ) | resize(image_width, 'auto') }}');
                    "
                >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            {{ feature.title }}
                        </h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
